// -------------product-info---------------
@media (max-width: 1450px) {
  .product-info {
    &__item-img--left {
      min-height: 450px;
    }
    &__item-img--right {
      min-height: 450px;
    }
    &__about-right {
      right: -25px;
    }
  }
}

@media (max-width: 1250px) {
  .product-info {
    &__item-img--left {
      min-height: 430px;
      max-width: 100%;
    }
    &__item-img--right {
      min-height: 430px;
      margin-top: 20px;
    }
    &__about-right {
      left: 500px;
    }
    &__about-left {
      left: 500px;
    }
    &__items {
      flex-direction: column;
      margin: 0 40px;
    }
  }
}

@media (max-width: 920px) {
  .product-info {
    &__item-img--left {
      width: 0;
    }
    &__item-img--right {
      width: 0;
    }
    &__item--left {
      height: 350px;
      background-color: #ffefe2;
    }
    &__item--right {
      height: 350px;
      background-color: #ffefe2;
    }
    &__about-right {
      left: 150px;
      bottom: 155px;
    }
    &__about-left {
      left: 150px;
      bottom: 155px;
    }
    &__items {
      display: flex;
      margin: 0 20px;
    }
  }
}

@media (max-width: 650px) {
  .product-info {
    &__item--left {
      height: 300px;
    }
    &__item--right {
      height: 300px;
    }
    &__about-right {
      left: 50px;
      bottom: 110px;
      height: 300px;
    }
    &__about-left {
      left: 50px;
      bottom: 80px;
      height: 300px;
    }
  }
}

@media (max-width: 450px) {
  .product-info {
    &__item--left {
      height: 250px;
    }
    &__item--right {
      height: 250px;
    }
    &__about-right {
      left: 10px;
      bottom: 110px;
      height: 300px;
    }
    &__about-left {
      left: 10px;
      bottom: 80px;
      height: 300px;
    }
    &__text--left {
      font-size: 15px;
      line-height: 20px;
      margin-top: 25px;
  }
    &__text--right {
      font-size: 15px;
      line-height: 20px;
      max-width: 330px;
      margin-top: 25px;
    }
    &__title {
      font-size: 20px;
      line-height: 18px;
    }
    &__items {
      margin: 0 10px;
    }
  }
}

// -------------shop-list---------------
@media (max-width: 1120px) {
  .shop-filters__btn {
    display: block; 
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border: 1px solid #243f4d;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 101;    
    background-image: url('../images/icons/filter.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .shop {
    &__inner {
      display: block;
      padding-top: 40px;
    }
    &__menu {
      margin-right: 0;
      display: flex;
      position: absolute;
      background-color: #cccccc;
      z-index: 100;
      width: 97%;
      flex-wrap: wrap;
      border: 1px solid #243f4d;
      padding: 15px;
    }
    &__content {
      margin-left: 0;
    }
  }
  .filter {
    &-price {
      margin-top: 0;
      margin-left: 25px;
      width: 100%;
      order: 1;
    }
    &__ctegory {
      margin-left: 25px;
      order: -2;      
    }
  }
  .filter-recent {
    padding-top: 0;
    margin-left: 25px;
    width: 100%;
    &__item {
      margin-top: 15px;
    }
  }
  .filter-brand {
    padding-top: 0;
    width: 100%;
    order: -1;
    margin-bottom: 25px;
    &__inner {
      margin-top: 15px;
    } 
    &__label {
      padding-top: 15px;
    }
    &__checkbox {
      background-color: #ffffff;
      border-radius: 3px;
    }
  }
  .product__items-shop--list.product__items {
    display: flex;
  }
}

@media (max-width: 990px) {
  .product__items-shop--list{
    .product-item {
      &__images  {
      object-fit: none;
      }
      &__img-box {
        min-width: 320px;
        min-height: 400px;
      }
      &__about-box {
        padding: 10px 0 0px 0px;
      }
      &__price-shop {
        margin: 10px 0;
        font-size: 23px;
      }
      &__about-text {
        line-height: 25px;
      }
      &__title {
        font-size: 30px;
      }
    } 
  }
}

@media (max-width: 920px) {
  .shop {
    &__menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 730px) {
  .product__items-shop--list{
    .product-item {
      display: block;
      &__img-box {
        min-width: 235px;
        min-height: 270px;
      }
      &__about-box {
        margin-bottom: 25px;
      }
    } 
  }
  .shop-filters__btn {
    right: 35px;
  }
}

@media (max-width: 625px) {
  .shop {
    &__menu {
      display: block;
    }
  }
  .filter-brand {
    margin-left: 25px;
  }
}

@media (max-width: 400px) {
  .product__items-shop--list{
    .product-item {
      max-width: 300px;
      &__img-box {
        display: none;
      }
      &__about-box {
        margin-left: 5px;
        margin-bottom: 25px;
      }
    } 
  }
  .shop-filters__btn {
    right: 15px;
  }
}

@media (max-width: 350px) {
  .filter-brand {
    margin-left: 0;
  }
  .filter-price {
    margin-left: 0;
  }
  .filter-recent {
    margin-left: 0;
  }
  .filter__ctegory {
    margin-left: 0;
  }
}

// -------------shop-grid---------------
@media (max-width: 1120px) {
  .product__items-shop--grid {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .product__items-shop--grid {
    column-gap: 0;
    row-gap: 20px;
  }
}

@media (max-width: 650px) {
  .product__items-shop--grid .product-item {
      width: 100%;
      max-width: 100%;
  }
}

// -------------product-info---------------
@media (max-width: 1125px) {
  .details {
    padding-top: 30px;
    &__slider-box {
      margin-right: 20px;
    }
  }
  .details-content {
    &__title {
      font-size: 25px;
    }
    &__price {
      font-size: 25px;
    }
    &__star {
      margin: 10px 0;
    }
    &__text {
      margin-top: 0;
    }
  }
}

@media (max-width: 980px) {
  .details-related__slider{
    .product-item {
      margin: 0;
      max-width: 100%;
    }
  }
}

@media (max-width: 950px) {
  .slider-inner {
    &__thumb {
      display: none;
    }
  }
}

@media (max-width: 800px) {
  .details {
    &__slider-section {
      display: block;
    }
    &__slider-box {
      margin-right: 0;
      max-width: 100%;
    }
  }
  .slider-inner__big {
    margin: 0 auto;
  }
  .details-tabs {
    padding: 30px 0;
    &__top-item {
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
  .details-related {
    padding-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .details-related {
    &__title {
      font-size: 25px;
      margin-left: 0;
    }
  }
}

@media (max-width: 430px) {
  .details-related {
    .slick-prev {
      margin-top: 50px;
      left: 0px;
    }
    .slick-next {
      margin-top: 50px;
      left: 60px;
    }
  }
}

@media (max-width: 420px) {
  .slider-inner__big {
    width: 280px;
    height: 520px;
  }
  .details-content{
    &__form {
      margin-left: 5px;
    }
    &__btn {
      display: block;
      margin-left: -7px;
    }
  }
  .details-tabs {
    &__top {
      display: block;
      }
    &__top-item {
      margin-bottom: 10px;
      width: 100%;
    }
    .details-tabs__top-item+.details-tabs__top-item {
      margin-left: 0;
    }
  }  
}

// -------------terms---------------
@media (max-width: 750px) {
  .terms {
    padding: 50px 20px 0px 20px;
  }
}

// -------------terms---------------
@media (max-width: 450px) {
  .terms {
    &__item {
      margin-top: 15px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__title {
      font-size: 20px;
    }
  }
}

// -------------login---------------
@media (max-width: 550px) {
  .modal {
    padding: 30px 0;
    &__input {
      width: 345px;
      margin-bottom: 15px;
    } 
    &__button-login  {
      width: 345px;
    }
    &__form {
      width: 345px;
    }
    &__button-create {
      width: 345px;
    }
  }
}

@media (max-width: 400px) {
  .modal {
    &__input {
      width: 290px;
    } 
    &__button-login  {
      width: 300px;
    }
    &__form {
      width: 290px;
    }
    &__button-create {
      width: 290px;
    }
    &__remember {
      display: block;
      padding-bottom: 15px   ;
    }
    &__label-remember {
      display: block;
      margin-bottom: 5px;
    }
  }
}

// -------------contacts---------------
@media (max-width: 1160px) {
  .contact-inner {
    &__bottom {
      display: block;
    }
    &__form {
      display: flex;
      justify-content: center;
    }
  }
  .map {
    display: flex;
    margin-top: 40px;
  }
  #map {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .contact-inner {
    padding: 40px 0;
    &__adress-items {
      margin: 20px 0 40px;

      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      justify-content: center;
    }
    &__adress-item {
      margin-left: 0;
      margin-top: 30px;
    }
    &__adress-contact {
      margin-top: 20px;
    }
  }
}

@media (max-width: 800px) {
  .contact-inner {
    &__adress-item {  
      width: 280px;
      height: 300px;
    }
    &__adress-box {
      margin-top: 35px;
    }
  }
}

@media (max-width: 640px) {
  .contact-inner__bottom {
    .blog-one {
      &__form-top {
        display: block;
      }
      &__form {
        width: 100%;
        text-align: center;
      }
      &__form-textarea {
        border: 1px solid #e5e5e5;
        width: 300px;
        background-position: 265px 20px;
      }
      &__form-input {
        border: 1px solid #e5e5e5 !important;
      }
      &__form-mail {
        margin-top: 20px;
      }
      &__btn {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

// -------------blog-one---------------
@media (max-width: 1250px) {
  .blog-page {
    padding: 30px 0;
    .filter__ctegory {
      display: none;
    }
    .filter-post {
      display: none;
    }
    &__inner {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      max-width: 100%;
    }
    &__img {
      width: 100%;
      max-width: 100%;
    }
    &__filters {
      order: -1;
      width: 100%;
      margin-left: 0;

      display: flex;
      justify-content: flex-end;
    }
  }
  .blog-one__form {
    max-width: 830px;
  }
  .filter-search {
    margin-bottom: 20px;
  }
} 

@media (max-width: 870px) {
  .blog-page{
    .blog-one {
      &__form-title {
        margin-bottom: 20px;
      }
      &__form {
        text-align: center;
        padding-bottom: 0;
      }
      &__form-textarea {
        width: 400px;
        background-position: 365px 20px;
      }
      &__form-top {
        display: block;
      }
      &__form-input {
        margin-top: 20px;
      }
      &__btn {
        display: block;
        margin: 0 auto;
      }
      &__img-content {
        display: block;
      }
      &__img-title {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 640px) {
  .blog-page {
    &__img-box-text {
      height: 50px;
    }
    .blog-one {
      &__content blockquote {
        margin: 20px 0;
        padding: 23px 23px 20px 35px;
      }
      &__author-inner {
        margin: 20px 0;
      }
      &__comments-title {
        margin: 20px 0;
      }
      &__comments-item {
        margin-bottom: 20px;
      }
      &__comments-date {
        display: none;
      }
      &__left-img {
        margin-left: 0;
        margin-bottom: 15px;
      }
      &__right-img {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 500px) {
  .blog-page {
    .blog-one {
      &__author-inner {
        display: block;
      }
      &__author-socials {
        margin-top: 10px;
      }
      &__comments-img {
        display: none;
      }
      &__comments-content {
        margin-left: 0;
      }
      &__left-img {
        max-width: 280px;
      }
      &__comments-name {
        font-size: 18px;
      }
    }
    .blog-one__comments-item:nth-child(2n+2) {
      padding: 20px 0;
      margin-left: 30px;
    }
  }
}

@media (max-width: 430px) {
  .blog-page {
    &__img-box-text {
      padding: 18px 15px 18px 27px;
    }
    .blog-one {
      &__form-input {
        width: 300px;
        background-position: 265px;
      }
      &__form-textarea {
        width: 300px;
        background-position: 265px 20px;
      }
    }
  }
}

// -------------blog---------------
@media (max-width: 640px) {
  .blog-page {
    &__text {
      margin-top: 15px;
    }
    &__button {
      margin-top: 20px;
    }
    &__title {
      margin-top: 25px;
      font-size: 30px;
    }
  }
  .blog-page .pagination {
    padding: 50px 0 20px;
  }
}

// -------------blog---------------
@media (max-width: 1200px) {
  .mission {
    padding: 60px 0;
    &__info {
      margin-left: 25px;
      margin-right: 10px;
    }
    &__image {
      max-width: 100%;
      width: 100%;
    }
    &__title {
      font-size: 30px;
      line-height: 30px;
      margin-top: 25px;
    }
    &__info-numbers {
      font-size: 115px;
    }
    &__text {
      margin-top: 15px;
    }
    &__item-numbers {
      font-size: 28px;
    }
  }
  .our-team {
    padding: 60px 0 90px;
    &__items {
      margin-left: 10px;
      grid-gap: 15px 15px;
    }
    &__about {
      margin-left: 15px;
    }
  }
}

@media (max-width: 1050px) {
  .mission {
    &__info {
      margin-left: 15px;
      margin-top: 30px;
    } 
    &__text {
      padding-bottom: 30px;
    }
  }
  .our-team {
    &__items {
      margin-left: 70px;
      grid-gap: 25px 10px;
    }
    &__image {
      width: 100%;
      height: 200px;
    }
    &__imagebox {
      width: 100%;
      height: 1px;
    }
    &__button {
      margin-top: 20px;
    }
    &__text {
      margin-top: 20px;
    }
  }
}

@media (max-width: 900px) {
  .mission {
    padding: 30px 0;
    &__info {
      margin-top: 15px;
    }
    &__title {
      font-size: 27px;
      margin-top: 15px;
    }
    &__text {
      margin-top: 10px;
      padding-bottom: 15px;
    }
    &__items {
      margin-top: 15px;
    }
  }
  .about-us {
    &__inner {
      padding: 30px 0;
    }
  }
  .our-team {
    &__items {
      margin: 0 auto;
    }
  }
}

@media (max-width: 785px) {
  .mission {
    &__inner {
      display: block;
    }
    &__info-inner {
      display: none;
    }
    &__text {
      max-width: 100%;
    }
    &__items {
      justify-content: space-around;
    }  
  }
  .about-us {
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      margin: 10px; 
    }
  }
  .our-team {
    &__items {
      margin: 0 auto;
      grid-gap: 0 15px;
    }
    &__image {
      height: 170px;
    }
    &__button {
      margin-top: 10px;
    }
    &__text {
      margin-top: 10px;
    }
  }
}

@media (max-width: 720px) {
  .our-team {
    padding: 30px 0;
    &__text {
      max-width: 100%;
    }
    &__about {
      margin-bottom: 15px;
    }
    &__items {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .mission {
    &__items {
      justify-content: space-between;
    }
    &__item {
      border-left: none;
    }
    &__item-info {
      margin-left: 0;
    }
  }
}

@media (max-width: 400px) {
  .mission {
    &__item-img {
      display: none;    
    }
  }
}